n8n-workflow.json
{
  "nodes": [
    {
      "parameters": { "options": {} },
      "id": "814af654-adb5-4cb3-89be-27f09b3eb053",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [176, 80],
      "webhookId": "cf80544b-6f02-4474-b4ef-35de69384f22"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ga4-agent-454186129940.us-central1.run.app/v1/chat-ga4",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [{ "name": "question", "value": "={{ $json.chatInput }}" }]
        },
        "options": {}
      },
      "id": "04361eb5-4f26-47f9-af45-f0ef67c907c8",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [448, -48]
    },
    {
      "parameters": { "options": {} },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1040, -112],
      "id": "a1f370d3-6487-4ee5-9326-acb7f8e91139",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Voc\u00ea \u00e9 um analista de dados especialista em GA4. O usu\u00e1rio fez a seguinte pergunta: \"{{ $('When chat message received').item.json.chatInput }}\"\n\nO banco de dados BigQuery retornou estes dados brutos:\n{{ JSON.stringify($json.data) }}\n\nO c\u00f3digo SQL utilizado foi:\n{{ $json.generated_sql }}\n\nResponda de forma clara, humanizada e direta em portugu\u00eas, interpretando os dados para o usu\u00e1rio. Se julgar relevante, mostre o SQL utilizado formatado ao final.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [640, -16],
      "id": "a4a64811-59f4-4eca-bb46-24b523d38dbe",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": { "__rl": true, "value": "gpt-4o-mini", "mode": "list", "cachedResultName": "gpt-4o-mini" },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [576, 192],
      "id": "287cc015-da08-4e8c-a171-0674f13af448",
      "name": "OpenAI Chat Model",
      "credentials": { "openAiApi": { "id": "qb7IQKgTVDaCeWwV", "name": "OpenAI account" } }
    }
  ],
  "connections": {
    "When chat message received": { "main": [[{"node": "HTTP Request", "type": "main", "index": 0}]] },
    "HTTP Request": { "main": [[{"node": "Basic LLM Chain", "type": "main", "index": 0}]] },
    "Respond to Webhook": { "main": [[]] },
    "Basic LLM Chain": { "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]] },
    "OpenAI Chat Model": { "ai_languageModel": [[{"node": "Basic LLM Chain", "type": "ai_languageModel", "index": 0}]] }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "773e63ab8b1f4f3313f86de372dfd5b0f5d6456814d4ea12493b9cb34abe76ce"
  }
}